a {
  text-decoration: none;
  color:rgb(35, 14, 139);
}
.header {
  display: flex;
  width: 100%;
  height: 20%;


}
.header-ttl {
  font-size: 24px;
  width: 80px;
  padding:10px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  padding: 10px 0 0 300px;
  position: absolute;
  right: 0;

}
.header-nav-item {
  margin-right: 30px;

}
.relative {
  position: relative;
}
.relative_img {
  position: relative;
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
  z-index: 10;
}

.blue-wrap {
  position: absolute;
  top: 80%;
  bottom: 0;
  width: 80%;
  z-index: 1;
}
.item {
  position: absolute;
  width: 80vw;
  height: 20vh;
  background: rgb(8, 8, 110);
}


h2 {
  font-size: 50px;
}