a {
  text-decoration: none;
  color:rgb(35, 14, 139);
}
.header {
  display: flex;

}
.header-ttl {
  font-size: 24px;
  width: 80px;
  padding:10px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  padding: 10px 0 0 300px;
}
.header-nav-item {
  margin-right: 30px;
}
.relative {
  position: relative;
}
.relative__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.blue-wrap {
  position: absolute;
  top: 80%;
}
.item {
  position: absolute;
  width: 80vw;
  height: 20vh;
  background: rgb(8, 8, 110);
  z-index: 1;
}


h2 {
  font-size: 50px;
  z-index: 7;
  top: 72%;
  

}